html, body {
    height: 100%;
    width: 100%;
}

.bg-image {
    display: block;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    background: no-repeat center center;
    /* change the background image of the landing photo here*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/56/Mount_Gambier_Blue_Lake_A.jpg');
    text-align: center;
}

.cc-container {
    padding-top: 50px;
}

.content {
    margin: 20px 0px;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p, li, span, b {
    font-family: 'Open Sans', sans-serif;
}

.full-width {
    width: 100%;
}

.rounded-image {
    width: 100%;
    border-radius: 50%;
}

.bottom-margin {
    margin-bottom: 50px;
}

.text-align {
    text-align: center;
}